@font-face {
  src: url(font/Valencia.ttf);
  font-family: valencia;
}
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Kaushan+Script&family=Raleway:wght@500;600;700;800;900&family=Readex+Pro:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  src: url(font/Avenir-Roman.ttf);
  font-family: avenir;
}

/*Common Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

/*End of Common Styles*/

.container {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/*Navbar*/
.nav-list {
  display: none;
}
/*End of Navbar*/

/*Menu*/
.menu {
  width: 3.5rem;
  height: 4rem;
  position: fixed;
  z-index: 100;
  top: 2rem;
  left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  visibility: hidden;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #0c2461;
}

.line-1 {
  width: 50%;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}
/*End of Menu*/

/*Section-2*/

.section-1 {
  min-height: 40vh;
  background: #fff;
  padding: 5rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .section-1 {
    min-height: 60vh;
  }
}

.section-1 .hero-center {
  width: 90vw;
  max-width: 1120px;
}

@media (min-width: 992px) {
  .section-1 .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2rem;
  }
}

.hero-heading {
  font-family: valencia;
  font-family: "Inconsolata", monospace;
  color: #0d0d0d;
  font-size: 6rem;
  font-size: 3.025rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.hero-title p {
  font-family: "Montserrat", sans-serif;
  margin: 2rem 0px;
  color: #0f172a;
  max-width: 40em;
  font-weight: 400;
  line-height: 1.75;
  font-size: 1.2rem;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  background: #60dbfb;
  border: 2px solid #60dbfb;
  color: #0d0d0d;
  font-weight: 500;
  line-height: 1.75;
  text-transform: uppercase;
  padding: 0.75rem 1.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  animation: 2s ease 0s infinite normal none running animate;
}

.hero-btn:hover {
  background: transparent none repeat scroll 0% 0%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: #60dbfb;
}

.btn {
  cursor: pointer;
  appearance: none;
  border-radius: 0.25rem;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out all;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.cartoon-img img {
  width: 530px;
  height: 330px;
  /* margin-top: -1rem; */
  /* animation: 2s ease 0s infinite normal none running animate; */
}

@keyframes moveHeaders {
  0% {
    transform: translateY(40rem) rotateY(-60deg);
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.myname {
  font-size: 10rem;
  font-family: valencia;
  /* animation: slideUp 1s ease; */
  animation: moveHeaders 1s 0.1s forwards;
  opacity: 0;
}

.position {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  font-family: avenir;
  margin-top: 1rem;
  opacity: 0;
  animation: moveHeaders 1s 0.6s forwards;
  /* animation: slideUp 2s ease; */
}

@keyframes slideUp {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*End of Section-2*/

/*Section-2*/
.projects {
  background: #e2e8f0;
  margin: 0.8rem;
  padding: 5rem 0;
  border: 3px solid #e2e8f0;
}
.section-heading {
  font-family: "Inconsolata", monospace;
  line-height: 1.3;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0 0 1.38rem;
  text-align: center;
}
.heading-underline {
  width: 5rem;
  height: 0.2rem;
  margin-bottom: 4rem;
  background: #2caeba;
  margin-left: auto;
  margin-right: auto;
}

/* .hawa {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  max-width: 1170px;
} */
.projects .project {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 3.5rem;
  max-width: 1000px;
}
.projects .project:nth-child(even) {
  flex-direction: row-reverse;
}

.projects .project .left {
  flex: 1;
}
.projects .project .right {
  flex: 1;
  margin-left: -300px;
  height: 300px;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.projects .project:nth-child(even) .right {
  margin-left: 0;
}
.projects .project:nth-child(even) .left {
  margin-left: -400px;
}

.projects .project .left .img {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.projects .project .img::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #2caeba, #222);
  opacity: 0.85;
  transition: all 0.3s linear;
}

.project:hover .img::after {
  opacity: 0;
}
.project-number {
  display: inline-block;
  font-size: 1.25rem;
  color: #2caeba;
  margin-bottom: 0.75rem;
}
.right h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: hsl(209, 61%, 16%);
  letter-spacing: 0.2rem;
  transition: all 0.3s linear;
}
.right h3:hover {
  color: #2caeba;
  cursor: pointer;
}
.project-info {
  font-size: 1.2rem;
  word-spacing: 15px;
  margin-bottom: 1.25rem;
  color: hsl(209, 34%, 30%);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span {
  display: inline-block;
  background: hsl(212, 33%, 89%);
  color: hsl(210, 22%, 49%);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 1rem;
}
.project-links a {
  color: #2caeba;
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: all 0.3s linear;
}
.project-links a:hover {
  color: hsl(184, 91%, 17%);
}

/*End of Section-2*/

/*footer*/
footer {
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.footer-heading {
  font-size: 3.9rem;
  font-weight: 800;
  margin-top: 5rem;
  color: #eee;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  margin-top: 3rem;
  padding: 0 16px;
  gap: 3.5rem;
}

.links .resume {
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  font-family: "Raleway", sans-serif;
  transition: 0.6s;
}
.links .resume:hover {
  transform: translate(0, -10px);
  color: #2caeba;
}

.links a {
  color: #fff;
  font-size: 2rem;
  transition: 0.6s;
}

.links a:hover {
  transform: translate(0, -10px);
  color: #2caeba;
}
/*End of footer*/

/*Responsive*/

/*End of Responsive*/
